@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}


body {
    background: #000;
    background-image: url(./dark-bg.webp);
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    color: #fff;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

body::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.container {
    width: 500px;
    position: relative;
    z-index: 2;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(1px);
    color: white;
    box-shadow: 0 0 3px rgba(255, 255, 255, 0.6);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px 20px;
    border-radius: 20px;
}

.container h1 {
    text-align: center;
    margin-bottom: 25px;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form_group {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
}

.form_group input {
    border-radius: 5px;
    border: none;
    outline: none;
    padding: 10px 20px;
}

.form_group input:focus {
    outline: none;
    border: 2px solid blue;
}

.error_message, .form_error_msg {
    font-size: 14px;
    color: #ef233c;
}

.password_container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.password_container input {
    flex: 1;
}

.form_group label {
    width: fit-content;
}

#submit_button {
    background: linear-gradient(to right, #24243e, #302b63, #0f0c29);
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
    cursor: pointer;
}

.success_msg {
    margin-top: 20px;
    color: rgb(38, 241, 35);
}


