.card {
  width: 200px;
  height: 200px;
  background: red;
  display: flex;
  align-items: center;
  justify-content: center;
}


.mobile-menu {
    overflow: hidden;
}

.menu-item {
    display: block;
    margin: 16px 0;
}