@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: #212121;
    color: #fff;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}


.container {
    width: 450px;
    background: #faedcd;
    padding: 40px 20px;
    border-radius: 20px;
    color: #3a3a3a;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.container h1 {
    font-size: 2rem;
}

.password_box {
    width: 100%;
    display: flex;
    gap: 15px;
}

.password_box input {
    flex: 1;
    padding: 10px;
    border: none;
    border-radius: 5px;
    outline: none;
}

.password_box input:focus {
    outline: none;
}

.password_box button {
    background: #d4a373;
    padding: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 2px;
}

.password_box i {
    font-size: 20px;
    color: #fff;
}

.length_box {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background: rgb(255, 255, 255, 0.4);
    padding: 5px 10px;
    border-radius: 5px;
}

.length_box div {
    display: flex;
    justify-content: space-between;
    padding-inline-end: 13px;
}

.length_box input {
    width: 100%;
}

.checks_list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.checks {
    display: flex;
    gap: 10px;
    background: rgb(255, 255, 255, 0.4);
    padding: 5px 10px;
    border-radius: 5px;
}

.warning {
    color: red;
}

.generate_button {
    background: #d4a373;
    color: #fff;
    font-size: 1rem;
    text-transform: capitalize;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    margin-top: 20px;
}

.generate_button:hover {
    background: #d9a877;
}