* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.parent_container {
    background: darkslategray;
    color: #fff;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu_items {
    /* width: 40%; */
    cursor: pointer;
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
}

